<li class="cards-list__item container">
    <div class="item">
        <h1 class="item__name">{{nodename}}</h1>
        <p class="item__nodeName">{{nodetype}}</p>
        <p class="item__date">{{datetime}}</p>
    </div>
</li>